@font-face {
  font-family: 'itc_garamond_stdLtCn';
  src: url('/fonts/itcgaramondstd-ltcond-webfont.woff2') format('woff2'),
       url('/fonts/itcgaramondstd-ltcond-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background-color: #0b0d13;
  --font-color: #eee;
  --border-color: #2a2a2a;
  --scrollbar-color: #444;
  --link-highlight-color: #574ee4;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #eee;
    --font-color: #000;
    --border-color: #1f1c21;
    --scrollbar-color: #999;
    --link-highlight-color: #1b43b1;
  }
  #close-button::before {
    filter: brightness(0);
  }
}

html,
body {
	background: var(--background-color);
  overflow-x: hidden;
  overflow-y: auto;
	margin: 0;
  padding: 0;
  font-family: 'itc_garamond_stdLtCn', 'Helvetica', 'Arial', sans-serif;
  color: var(--font-color);
}
button {
  outline: none;
  border: none;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
::-webkit-scrollbar-corner {
  background-color: var(--background-color);
}
::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: var(--scrollbar-color);
  border: 3px solid var(--background-color);
}
::-webkit-scrollbar-track {
  border-radius: 15px;
  background: var(--background-color);
}