/*
div {
  background-repeat: no-repeat;
  background-size: cover;
}
a {
  text-decoration: none;
  color: #3250ff;
  cursor: pointer;
} */
#windowBorder {
  position: fixed;
  width: 100vw;
  height: 100vh;
  border: 5vw solid var(--background-color);
  box-shadow: inset 0 0 0 min(.27vw, 2px) var(--font-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  pointer-events: none;
}
#portfolioList a:hover .exampleText{
  color: var(--link-highlight-color);
}
#portfolioList {
  transition: margin-right 0.3s ease;
}
.example {
  width: 78vw;
  margin: 0 auto;
  height: min(20vw, 250px);
  color: var(--font-color);
  font-size: min(11vw, 10em);
  text-wrap: nowrap;
  border-top: min(.4vw, 3px) solid var(--font-color);
  text-align: center;
  position: relative;
  transition: font-size 0.1s;
}
a:first-child > .example {
  border-top: none;
  margin-top: 3vw;
}
.exampleText {
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  left: 50%;
  transition: color 0.2s ease;
}
#globe {
  width: 100%;
  text-align: center;
  margin-top: 24vw;
}
#globe > img {
  max-width: 300px;
  width: 20vw;
}
@media (prefers-color-scheme: dark) {
  #globe > img {
    filter: invert(1);
  }
}
#footer {
  height: 34vw;
}
#projectTitle {
  width: 90vw;
  text-align: center;
  font-size: min(9vw, 123px);
  color: var(--font-color);
  margin: 6.5vw auto 0 auto;
  transition: color 0.2s ease;
}
#projectTitle:hover {
  color: var(--link-highlight-color);
}
#projectDescription {
  width: 71vw;
  margin: 3.5vw auto;
  font-size: 3.3vw;
}
#tags {
  margin: 2vw;
  text-align: center;
  font-size: 2.8vw;
}
#tags > .separator {
  margin: 0 3vw;
}
.overlay {
  background-color: rgb(56 56 56 / 50%);
  position: absolute;
  width: 100%;
  top: 6px;
  bottom: 0;
  height: 102.5%;
  opacity: 100%;
  margin-top: -6px;
  text-align: center;
  transition: background-color 0.2s ease;
}
.overlay:hover {
  background-color: rgb(56 56 56 / 0%);
}
.overlayType {
  color: #3250ff;
}
.overlayText {
  top: 50%;
  width: fit-content;
  position: absolute;
  font-size: 2em;
  background: var(--background-color);
  border-radius: 10px;
  transform: translate(-50%, -50%);
  padding: 17px 43px;
  left: 50%;
  text-wrap: nowrap;
  font-weight: 600;
  letter-spacing: .125em;
}
#img-overlay {
  z-index: 3;
  display: none;
}
#img-overlay,
#img-overlay > div {
  position: fixed;
  width: 100%;
  height: 100%;
}
#grey-overlay {
  display: none;
  background: #343434d6;
  width: 100%;
  height: 100%;
  position: fixed;
}
#img-overlay img {
  z-index: 4;
  width: auto;
  height: auto;
  max-width: 95%;
  max-height: 88%;
  box-shadow: 0 0 18px 3px #0000003b;
}
#img-container {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
#img-container span {
  color: #efefef;
  margin-top: 8px;
  background: #5f5f5f;
  border-radius: 15px;
  padding: 5px 12px;
}

@media all and (min-width:650px) {
    .box {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
  }
}