/*
div {
  background-repeat: no-repeat;
  background-size: cover;
}
a {
  text-decoration: none;
  color: #3250ff;
  cursor: pointer;
} */
#windowBorder {
  position: fixed;
  width: 100%;
  height: 100%;
  border: min(5vw, 80px) solid var(--background-color);
  box-shadow: inset 0 0 0 min(.27vw, 2px) var(--font-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  pointer-events: none;
}
#projectImage {
  width: max(28vw, 200px);
  margin: min(234px, 19vw) auto 0 auto;
  text-align: center;
  font-size: var(--small-font-size);
}
#projectImage > img {
  cursor: pointer;
}
#projectImage > a {
  color: var(--font-color);
  transition: color 0.2s ease;
}
#projectImage > a:hover {
  color: var(--link-highlight-color);
}
#portfolioList a:hover .exampleText{
  color: var(--link-highlight-color);
}
#portfolioList {
  transition: margin-right 0.3s ease;
}
.example {
  width: 78vw;
  margin: 0 auto;
  white-space: nowrap;
  height: min(20vw, 250px);
  color: var(--font-color);
  font-size: min(11vw, 10em);
  text-wrap: nowrap;
  border-top: min(.4vw, 3px) solid var(--font-color);
  text-align: center;
  position: relative;
  transition: font-size 0.1s;
}
a:first-child > .example {
  border-top: none;
  margin-top: 3vw;
}
.exampleText {
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  left: 50%;
  transition: color 0.2s ease;
}
#globe {
  width: 100%;
  text-align: center;
  margin-top: 24vw;
}
#globe > img {
  max-width: 300px;
  width: 20vw;
}
@media (prefers-color-scheme: dark) {
  #globe > img {
    filter: invert(1);
  }
}
#footer {
  height: 34vw;
}
#projectTitle {
  width: 90vw;
  text-align: center;
  font-size: min(9vw, 123px);
  margin: max(6.5vw,30px) auto 0 auto;
}
.projectLink {
  color: var(--font-color);
  transition: color 0.2s ease;
}
.projectLink:hover {
  color: var(--link-highlight-color);
}
#projectDescription {
  width: min(71vw,1021px);
  margin: 3.5vw auto;
  font-size: clamp(21px,3.3vw,39px);
}
#tags {
  margin: 2vw;
  text-align: center;
  font-size: var(--small-font-size);
}
#tags > .separator {
  margin: 0 3vw;
}
.imageFullsize {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 3vw;
}
#visitSite {
  margin-top: 3vw;
  display: block;
}
.linksContainer {
  margin-top: 1vw;
  font-size: var(--small-font-size);
  text-align: center;
  position: relative;
  width: fit-content;
  margin: 1vw auto 0 auto;
}
.linksList {
  white-space: nowrap;
  position: absolute;
  left: 0;
  top: 0;
  text-align: left;
  max-height: 0;
  transition: max-height 0.3s, opacity 0.1s;
  opacity: 0;
  overflow: hidden;
  box-shadow: 0 0 0 0vw var(--background-color), 0 0 0 0vw var(--font-color);
}
.linksContainer:hover .linksList {
  max-height: 1000%;
  box-shadow: 0 0 0 1.2vw var(--background-color), 0 0 0 1.4vw var(--font-color);
  opacity: 1;
} 
.linksContainer:hover .linksDivider {
  border-bottom: .2vw solid var(--font-color);
  opacity: 1;
}
.linksList > a {
  color: var(--font-color);
  transition: color 0.2s ease;
}
.linksList > a:hover {
  color: var(--link-highlight-color);
}
.linksDivider {
  transition: opacity 0.1s;
  opacity: 0;
  position: absolute;
  width: 9vw;
  bottom: -1vw;
  left: 0;
}
.linksSpacer {
  height: 2vw;
  display: block;
}
@media all and (max-width: 500px) {
  .linksList {
    display: block;
    left: auto;
    text-align: center;
    transform: translateX(calc(-47% + 1vw));
  }
  .linksDivider {
    transform: translateX(-22%);
  }
}